@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}


.underline-custom::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 50%; 
  transform: translateX(-50%);
  height: 4px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: #FF1456;

  clip-path: path('M0 4 Q 50% 0, 100% 4 T 100% 4');
}

th {
  text-wrap: nowrap;
}

.cancel-button {
  color: #ff0000;
  background: white;
}

.react-datepicker {
  border: 0 !important;
}
.react-datepicker,
.react-datepicker__header {
  background: #fbfcff !important;
  border-bottom: 0 !important;
}

.react-datepicker__day-names {
  margin-top: 28px;
}

.react-datepicker__current-month {
  color: #141414;
  font-size: 24px !important;
}

/* button */
.react-datepicker__navigation.react-datepicker__navigation--previous,
.react-datepicker__navigation.react-datepicker__navigation--next {
  border-radius: 100%;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.09);
  background: white;
  width: 44px;
  height: 44px;
  color: #000 !important;
}

.react-datepicker__navigation-icon.react-datepicker__navigation-icon--previous::before {
  right: -4px;
  top: 8px;
}
.react-datepicker__navigation-icon--next::before {
  left: -3px !important;
  top: 8px !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background: #2fbc8d !important;
  color: white !important;
  font-weight: 600 !important;
  border: 2px solid white;
}

.react-datepicker__week div {
  box-shadow: 0px 4px 12px rgba(0, 14, 51, 0.05);
  border-radius: 6px;
  color: #1f1f1f;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 34px !important;
  height: 35px !important;
  align-content: center;
  font-weight: 700 !important;
  font-size: 13px !important;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  fill: #fff !important;
  color: #fff !important;
  stroke: #e7e9ee !important;
}

@media screen and (max-width: 600px) {
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 24px !important;
    height: 27px !important;
  }

  .react-datepicker__navigation.react-datepicker__navigation--previous {
    left: 68% !important;
  }
}

.react-datepicker__day--outside-month {
  border: 0 !important;
  box-shadow: none !important;
  color: rgba(0, 23, 84, 0.15) !important  ;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  text-align: left;
  padding-left: 34px !important;
  padding-right: 34px !important;
  padding-top: 25px;
  font-size: 15px !important;
  font-weight: 500;
  padding-bottom: 27px;
}
.react-datepicker,
.react-datepicker__header {
  background: white !important;
  border-radius: 8px !important;
  padding-top: 8px !important;
}

.react-datepicker__month {
  margin: 0 !important;
  padding: 0.4rem 10px 8px;
  border-bottom: 0.4px solid #e7e9ee;
}

.react-datepicker__navigation.react-datepicker__navigation--next {
  right: 18px;
}

.react-datepicker__navigation.react-datepicker__navigation--previous {
  left: 72%;
}

.react-datepicker__navigation.react-datepicker__navigation--previous,
.react-datepicker__navigation.react-datepicker__navigation--next {
  background: #e7e9ee;
  box-shadow: none;
  border-radius: 4px;
  width: 22px;
  height: 22px;
  border: none;
  margin-top: 9px;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  font-size: 15px;
  font-weight: 600;
  color: #999999 !important;
}

.react-datepicker__day--selected:hover {
  background: #2fbc8d !important;
}
.react-datepicker__day--selected {
  background: #2fbc8d !important;
  color: white !important;
  box-shadow: none !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: #2fbc8d !important;
  opacity: 50% !important;
  color: white !important;
}

.react-datepicker__day-names .react-datepicker__day-name {
  color: #666666 !important;
}
.react-datepicker__day-names {
  margin-top: 6px;
}

.upcoming-border-gradient {
  display: flow-root;
  position: relative;
}

.upcoming-border-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border: 1px solid transparent;

  background: linear-gradient(
      141.32deg,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0) 44.5%,
      #ffffff 153.99%
    )
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.auth-border_gradient {
  display: flow-root;
  position: relative;
  padding: 1.3rem;
  background: #66666633;
  backdrop-filter: blur(6px);
}

.auth-border_gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  border: 2px solid transparent;
  background: linear-gradient(
      241.91deg,
      rgba(255, 255, 255, 0.05) 25.9%,
      #ffffff 100%
    )
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
